<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>dynamic_hosts</string>
    <key>ProgramArguments</key>
    <array>
        <string>/bin/dynamic_hosts.php</string>
        <string>/usr/local/zend/apache2/htdocs/</string>
    </array>
    <key>WatchPaths</key>
    <array>
        <string>/usr/local/zend/apache2/htdocs/</string>
    </array>
</dict>
</plist>